{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create New Item</h2>
    <form action="{% url 'create_listing' %}" method="POST">
        {% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" placeholder="Enter title"><br>

        <label for="description">Description:</label>
        <input type="text" name="description" placeholder="Enter description"><br>

        <label for="image_url">Image Url:</label>
        <input type="text" name="image_url" placeholder="Enter image_url"><br>

        <label for="price">Price:</label>
        <input type="number" name="price" placeholder="price"><br>

        <input type="submit" name="" value="Create New Item" id="">
        <select name="cateory" id="">
            
            {% for category in cateories %}
                <option value="">{{category}}</option>
            {% endfor %}
        </select>
    </form>
{% endblock %}

{% comment %} 13:24 / 1:15:02 (CS50 WEB) COMMERCE - PROJECT 2 | SOLUTION {% endcomment %}