
{% extends "auctions/layout.html" %}
{% block title %} | Categories{% endblock %}
{% block heading %}Categories{% endblock %}

{% block crumbs %}
    {% if listings %}
        Select your category
    {% else %}
        No listings found.
    {% endif %}
{% endblock %}

{% block body %}
 <!-- ======= Portfolio Section ======= -->
 <section class="portfolio mt-5">
    <div class="container">

      <div class="row">
        <div class="col-lg-12">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
            {% for category in categories %}
                <li data-filter=".filter-app" value="{{ category.id }}">{{ category.category_name }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row portfolio-container listings" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
        {% for listing in listings %}
            <div class="col-lg-4 col-md-6 portfolio-wrap filter-app">
            <div class="portfolio-item">
                <img src="{{ listing.image_url }}" class="img-fluid" alt="{{ listing.title }}">
                <div class="portfolio-info">
                <h3>App 1</h3>
                <div>
                    <a href="assets/img/portfolio/portfolio-1.jpg" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" title="Portfolio Details"><i class="bx bx-link"></i></a>
                </div>
                </div>
            </div>
            </div>
        {% endfor %}
      </div>

    </div>
  </section><!-- End Portfolio Section -->
{% endblock %}
