{% extends "auctions/layout.html" %}
{% block title %} | Home{% endblock %}

{% block crumbs %}
<div>
    {% if user.is_authenticated %}
        <p>Signed in as <strong style="color:#00f108">{{ user.username }}</strong>.</p>
    {% else %}
        <p style="color:red">Not signed in.</p>
    {% endif %}
</div>
{% endblock %}

{% block heading %}Welcome to X-Auctions{% endblock %}

{% block body %}
<!-- ======= Home Section ======= -->
<section class="display">
    <div class="container mt-3">
        <div class="row display-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            {% for listing in listings %}
                <div class="col-lg-4 col-md-6 display-wrap filter-app">
                    <div class="display-item">
                        <img src="{{ listing.image_url }}" class="img-fluid" alt="{{ listing.title }}">
                        <div class="display-info">
                            <h3><a href="{% url 'listing' id=listing.id %}" class="btn btn-outline">Details</a></h3>
                            <div>
                                <a href="{{ listing.image_url }}" data-gallery="displayGallery" class="display-lightbox" title="{{ listing.title }}"><i class="bx bx-plus"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section><!-- End Home Section -->
{% endblock %}
