{% extends "auctions/layout.html" %}
{% block title %} | Current Auctions{% endblock %}
{% block heading %}Full Description{% endblock %}
{% block crumbs %}
  <div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
  </div>
{% endblock %}

{% block body %}
  
<!-- ======= Blog Single Section ======= -->
<section id="blog" class="blog">
  {% if user.is_authenticated and listing.is_active %}
    <div class="container" data-aos="fade-up">

      <div class="row">

        <div class="col-lg-12 entries">

          <article class="entry entry-single">

            <div class="entry-img">
                <img src="{{ listing.image_url }}" alt="{{ listing.title }}" height="400px" class="img-fluid">
            </div>

            <h2 class="entry-title">
              <a href="#">{{ listing.title }}</a>
            </h2>

            <div class="entry-meta">
              <ul>
                <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="#">{{ listing.owner }}</a></li>
                <li class="d-flex align-items-center"><i class="bi bi-currency-dollar"></i> <a href="#"><time datetime="2020-01-01">{{ listing.starting_bid.bid }}0</time></a></li>
                <li class="d-flex align-items-center">
                  {% if check_listing_in_watchlist %}
                    <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-link" type="submit"><i class="bi bi-chat-dots"></i> Remove from Watchlist</button>
                    </form>
                  {% else %}
                    <form action="{% url 'add_watchlist' id=listing.id %}" method="POST">
                      {% csrf_token %}
                      <button class="btn btn-link" type="submit"><i class="bi bi-chat-dots"></i> Add to Watchlist</button>
                    </form>
                  {% endif %}
                </li>
              </ul>
            </div>

            <div class="entry-content">
              <p>{{ listing.description }}</p>
            </div>

            <div class="entry-footer">
              <i class="bi bi-folder"></i>
              <ul class="cats">
                {% if is_owner %}
                  <li>
                    <form action="{% url 'close_auction' id=listing.id %}" method="POST" class="mx-3">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-danger">Close Auction</button>
                    </form>
                  </li>
                {% endif %}
              </ul>

              <i class="bi bi-tags"></i>
              <ul class="tags">
                <li>
                  <a href="#">
                    <div class="sidebar-item search-form">
                      {% if user.is_authenticated %}
                        <form action="{% url 'add_bid' id=listing.id %}" method="POST">
                          {% csrf_token %}
                          <input type="number" placeholder="Add New Bid" min="0" name="starting_bid" style="border:1px solid grey" required>
                          <button class="btn" type="submit" style="color:#40E0D0;">Submit Bid</button>
                        </form>
                      {% endif %}
                    </div>
                  </a>
                </li>
              </ul>
            </div>

          </article><!-- End blog entry -->

          <div class="blog-comments">

            <h4 class="comments-count">Comments</h4>

            <div id="comment-1" class="comment">
              <div class="d-flex">
                {% for comment in all_comments %}
                  <div>
                    <h5><a href="">{{ comment.author }}</a> <a href="#" class="reply"><i class="bi bi-reply-fill"></i> Reply</a></h5>
                    <p>{{ comment.message }}</p>
                  </div>
                {% empty %}
                  <p>No comments yet.</p>
                {% endfor %}
              </div>
            </div><!-- End comment #1 -->

            <div class="reply-form">
              <h4>Leave a Comment</h4>
              {% if user.is_authenticated %}
                <form action="{% url 'add_comment' id=listing.id %}" method="POST">
                  {% csrf_token %}
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="comment" class="form-control" placeholder="Your Comment*" required></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-full">Post Comment</button>
                </form>
              {% endif %}
            </div>

          </div><!-- End blog comments -->

        </div><!-- End blog entries list -->

      </div>

    </div>
  {% endif %}
</section><!-- End Blog Single Section -->

{% endblock %}
