{% extends "auctions/layout.html" %}

{% block body %}

<div class="container">
    <div class="row">
        <div class="col-l1 col-md-4 mx-auto mt-5">

            <h2 class="mb-3">Register</h2>



            <form action="{% url 'register' %}" method="post">
                {% csrf_token %}
                <div class="form-group input-field">
                    <input class="form-control bg-white {% if username_error %}is-invalid{% endif %}" id="username-input" autofocus type="text" name="username">
                    <label for="username">Username:</label>
                    {% if username_error %}
                        <div class="username_error">{{ username_error }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input class="form-control" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="form-group">
                    <input class="form-control {% if password_error %}is-invalid{% endif %}" type="password" name="password" placeholder="Password">
                    {% if password_error %}
                        <div class="password_error">{{ password_error }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    <input class="form-control {% if password_error %}is-invalid{% endif %}" type="password" name="confirmation" placeholder="Confirm Password">
                    {% if password_error %}
                        <div class="password_error">{{ password_error }}</div>
                    {% endif %}
                </div>
                <input class="btn btn-primary" type="submit" value="Register">
            </form>

            Already have an account? <a href="{% url 'login' %}">Log In here.</a>
         </div>
    </div>
</div>
{% endblock %}