{% extends "auctions/layout.html" %}
{% block title %} | Watchlist{% endblock %}
{% block heading %}Your Watchlist{% endblock %}

{% block crumbs %}
    {% if not listings %}
        No active listings in your watchlist.
    {% endif %}
{% endblock %}

{% block body %}
<div class="container">
    {% if listings %}
        <div class="row mx-3">
            {% for listing in listings %}
                <div class="card mx-3 mb-3" style="width: 18rem;">
                    <img src="{{ listing.image_url }}" class="card-img-top" alt="{{ listing.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <a href="{% url 'listing' id=listing.id %}" class="btn btn-primary">Details</a>
                        <form action="{% url 'remove_watchlist' id=listing.id %}" method="POST" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm mt-2">Remove from Watchlist</button>
                        </form>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}
</div>
{% endblock %}
